/*Rebootstrap-Scaffolding*/

body {
	font-family: 'Roboto', sans-serif;
	color: #4D4D4D;
}

a {
	color: #FF5B51;
}

a:hover,
a:focus {
	color: #E60D00;
}

@media(min-width: 1200px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 1176px;
	}
}

.form-control {
	height: 40px;
	border-radius: 10px;
}

.btn {
	border-radius: 10px;
}

.btn-primary {
	background: #FF5B51;
	border-color: #FF5B51;
	color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
	background: #FF3B26;
	border-color: #FF3B26;
	color: #fff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
	background: #DB352B;
	border-color: #DB352B;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: #4D4D4D;
	margin-bottom: 50px;
}

h2{
	font-size: 26px;
}

h3{
	font-size: 22px;
}

h4{
	font-size: 20px;
}

h5{
	font-size: 18px;
}

h6{
	font-size: 16px;
}

img {
	max-width: 100%;
}


/*Header*/

.site-header {
	background: #003A42;
	color: #fff;
	margin-bottom: 50px;
}

.site-header-top-row {
	align-items: center;
	padding: 10px 0;
}

.site-header-top-row .col {
	width: auto;
	flex-basis: inherit;
	flex-grow: 0;
}

@media(min-width: 1200px) {
	.header-logo-col {
		margin-right: 5px;
	}
}

.logo-wrap {
	display: flex;
	align-items: center;
}

.logo {
	margin-right: 10px;
}

.logo-wrap span {
	font-size: 12px;
	text-transform: uppercase;
	line-height: 1.3;
}

@media(min-width: 1200px) {
	.header-social-col {
		margin-right: 12px;
	}
}

.header-social-wrap {
	display: flex;
	align-items: center;
}

.header-social-wrap a {
	transition: opacity ease 0.1s;
}

.header-social-wrap a:hover {
	opacity: 0.7;
}

.header-social-wrap a:not(:last-child) {
	margin-right: 30px;
}

@media(min-width: 1200px) {
	.header-search-col {
		margin-right: 10px;
	}
}

.header-search-wrap {
	position: relative;
}

.hedaer-search-field {
	font-size: 14px;
	color: #fff;
	width: 460px;
	height: 40px;
	background: #012A31;
	border-radius: 10px;
	border: 0;
	padding: 15px 50px 15px 15px;
	transition: background ease 0.3s, box-shadow ease 0.3s;
}

.hedaer-search-field::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fff;
	opacity: 1;
}

.hedaer-search-field::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff;
	opacity: 1;
}

.hedaer-search-field:-ms-input-placeholder {
	/* IE 10+ */
	color: #fff;
	opacity: 1;
}

.hedaer-search-field:-moz-placeholder {
	/* Firefox 18- */
	color: #fff;
	opacity: 1;
}

.hedaer-search-field:focus {
	box-shadow: 0 0 18px 2px rgba(255, 255, 255, 0.2);
	background: #03181C;
}

.header-search-wrap {
	position: relative;
}

.hedaer-search-submit {
	position: absolute;
	width: 50px;
	height: 40px;
	border-radius: 0 10px 10px 0;
	background: url(../img/i/search.svg) no-repeat 50% transparent;
	top: 0;
	right: 0;
	border: 0;
	padding: 0;
	transition: background-color ease 0.3s;
}

.hedaer-search-submit:hover,
.hedaer-search-submit:focus {
	background-color: #075D71;
}

.header-phone {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}

.header-phone span {
	color: #FF5B51;
}

.header-phone:hover,
.header-phone:focus {
	color: #FF5B51;
}

.header-login-col {
	font-size: 12px;
}

@media(min-width: 1200px) {
	.header-login-col {
		margin-left: auto;
		padding-right: 26px;
	}
}

.header-login-col a {
	font-size: 12px;
	color: #fff;
	margin-left: auto;
}

.header-login-col a:hover,
.header-login-col a:focus {
	color: #FF5B51;
}

@media(min-width: 768px) {
	.header-bottom-section {
		border-top: 1px solid #012A31;
	}
}

.main-navigation ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.main-navigation>ul>li>a {
	position: relative;
	font-size: 14px;
	text-transform: uppercase;
	display: block;
	padding: 10px 15px;
	color: #fff;
	transition: background-color ease 0.3s;
}

.main-navigation li {
	position: relative;
}

.main-navigation li ul {
	display: none;
}

@media(min-width: 768px) {
	.main-navigation>ul {
		display: flex;
		align-items: center;
	}
	.main-navigation>ul>li>a {
		padding: 10px 40px;
	}
	.main-navigation>ul>li:not(:first-child):not(.main-navigation-catalog-item)>a:hover,
	.main-navigation>ul>li:not(:first-child):not(.main-navigation-catalog-item)>a:focus {
		color: #FF5B51;
		text-decoration: none;
	}
	.main-navigation li:hover>ul,
	.main-navigation li:focus>ul {
		display: block;
	}
	.main-navigation>ul>li:first-child,
	.main-navigation>ul>li.main-navigation-catalog-item {
		margin-right: 20px;
	}
	.main-navigation li ul {
		display: none;
		position: absolute;
		background: #03373E;
		z-index: 9;
	}
}

@media(min-width: 992px) {
	.main-navigation>ul>li:not(:first-child):not(.main-navigation-catalog-item)>a:before {
		content: '';
		position: absolute;
		left: 22px;
		top: 50%;
		transform: translate(0, -50%);
		width: 6px;
		height: 6px;
		background: #FF5B51;
		border-radius: 100%;
		transition: background-color ease 0.3s;
	}
	.main-navigation>ul>li:not(:first-child):not(.main-navigation-catalog-item)>a:hover:before,
	.main-navigation>ul>li:not(:first-child):not(.main-navigation-catalog-item)>a:focus:before {
		background: #fff;
	}
}

.main-navigation>ul>li:first-child>a,
.main-navigation>ul>li.main-navigation-catalog-item>a {
	background: #FF5B51;
	padding-left: 38px;
	padding-right: 65px;
}

.main-navigation>ul>li:first-child>a:hover,
.main-navigation>ul>li:first-child>a:focus,
.main-navigation>ul>li.main-navigation-catalog-item>a:hover,
.main-navigation>ul>li.main-navigation-catalog-item>a:focus {
	text-decoration: none;
	background: #FF3B26;
}

.main-navigation>ul>li:first-child>a:before,
.main-navigation>ul>li.main-navigation-catalog-item>a:before {
	content: '';
	position: absolute;
	right: 34px;
	top: 50%;
	transform: translate(0, -50%);
	width: 20px;
	height: 20px;
	background: url(../img/i/download.svg) no-repeat 0 0;
}

.main-navigation li ul a {
	display: block;
	padding: 10px 15px;
	color: #fff;
}

.main-navigation li ul a:hover,
.main-navigation li ul a:focus {
	background: #FF5B51;
	text-decoration: none;
}

.header-cart-col {
	display: flex;
	justify-content: flex-end;
}

.header-cart {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #fff;
}

.header-cart:hover,
.header-cart:focus {
	color: #FF5B51;
	opacity: 0.85;
}

.header-cart:hover .header-cart-counter,
.header-cart:focus .header-cart-counter {
	color: #fff;
}

.header-cart-counter {
	position: relative;
	margin-right: 20px;
}

.header-cart-counter span {
	font-size: 9px;
	position: absolute;
	top: 0;
	right: -10px;
	background: #FF5B51;
	border-radius: 8px;
	padding: 0 3px;
	line-height: 1.2;
}

@media(min-width:992px) and (max-width: 1199px) {
	.hedaer-search-field {
		width: 290px;
	}
	.site-header-top-row .col {
		margin: 0;
	}
	.main-navigation>ul>li:first-child>a,
	.main-navigation>ul>li.main-navigation-catalog-item>a {
		padding-left: 28px;
		padding-right: 45px;
	}
	.main-navigation>ul>li:first-child>a::before,
	.main-navigation>ul>li.main-navigation-catalog-item>a::before {
		right: 20px;
	}
	.main-navigation>ul>li>a {
		padding: 12px 25px;
	}
	.main-navigation>ul>li:not(:first-child):not(.main-navigation-catalog-item)>a::before {
		left: 10px;
	}
}

@media(min-width:768px) and (max-width: 1199px) {
	.site-header-top-row {
		justify-content: space-between;
	}
}

@media(min-width:768px) and (max-width: 991px) {
	.site-header-top-row .header-search-col {
		order: 1;
		width: 100%;
		margin: 15px 0 0 0;
	}
	.hedaer-search-field {
		width: 100%;
	}
	.main-navigation>ul>li>a {
		padding: 10px 15px;
	}
	.main-navigation>ul>li:first-child>a,
	.main-navigation>ul>li.main-navigation-catalog-item>a {
		padding-left: 20px;
		padding-right: 45px;
	}
	.main-navigation>ul>li:first-child>a::before,
	.main-navigation>ul>li.main-navigation-catalog-item>a::before {
		right: 20px;
	}
}

@media(max-width: 767px) {
	.site-header-top-row {
		justify-content: space-between;
	}
	.site-header-top-row .header-logo-col {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
	}
	.logo {
		width: 30px;
		margin-right: 5px;
	}
	.main-nav-toggler {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid #e4f9f6;
		border-radius: 3px;
		width: 40px;
		height: 36px;
	}
	.main-nav-toggler span {
		width: 26px;
		height: 2px;
		background: #e4f9f6;
	}
	.main-nav-toggler span:not(:last-child) {
		margin-bottom: 5px;
	}
	.main-nav-toggler:active {
		background: #e4f9f6;
	}
	.main-nav-toggler:active span {
		background: #003A42;
	}
	.site-header-top-row .header-social-col {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 15px;
	}
	.hedaer-search-field {
		width: 100%;
	}
	.mobile-search-toggle {
		padding: 0;
		border: 0;
		background: transparent;
		transition: opacity ease 0.3s;
	}
	.mobile-search-toggle:active {
		opacity: 0.4;
	}
	.header-login-col {
		padding-left: 0;
	}
	.main-navigation>ul>li:first-child>a,
	.main-navigation>ul>li.main-navigation-catalog-item>a {
		padding-left: 15px;
		padding-right: 15px;
	}
	.main-navigation>ul>li:first-child>a:before,
	.main-navigation>ul>li.main-navigation-catalog-item>a:before {
		right: 15px;
	}
	.main-navigation>ul>li:not(:first-child):not(.main-navigation-catalog-item)>a:hover,
	.main-navigation>ul>li:not(:first-child):not(.main-navigation-catalog-item)>a:focus {
		text-decoration: none;
	}
	.main-navigation>ul>li:not(:first-child):not(.main-navigation-catalog-item)>a:active {
		background: #FF5B51;
		text-decoration: none;
	}
	.main-nav-sub-toggle {
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 40px;
		background: url(../img/i/mobile-toggler.svg) no-repeat 50%;
		background-size: 15px;
	}
	.main-navigation li ul {
		padding: 0 15px;
	}
}

@media(min-width: 576px) and (max-width: 767px) {
	.hedaer-search-field {
		width: 300px;
	}
}

@media(max-width: 575px) {
	.site-header {
		position: relative;
	}
	.site-header-top-row {
		padding-bottom: 5px;
	}
	.header-phone {
		font-size: 16px;
	}
	.site-header-top-row .header-search-col {
		display: none;
		position: absolute;
		z-index: 9;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.9);
	}
	.mobile-search-close {
		position: absolute;
		z-index: 1;
		top: 10px;
		right: 15px;
		padding: 0;
		background: transparent;
		border: 0;
	}
	.mobile-search-close img {
		width: 16px;
	}
	.header-search-inner-wrap {
		position: relative;
		width: 100%;
	}
	.header-search-wrap {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	.hedaer-search-field {
		background: #0D424B;
	}
	.hedaer-search-field:focus {
		background: #0B6271;
	}
	.main-navigation {
		margin: 0 -15px;
	}
	.main-navigation>ul {
		padding-top: 10px;
	}
}


/*Footer*/

.qa-form-section {
	background: #8FE3E5;
	padding: 45px 0 50px;
	margin-top: 40px;
}

.section-title {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
	text-align: center;
	color: #4D4D4D;
}

.qa-form-section .section-title {
	position: relative;
	z-index: 1;
	margin-bottom: 44px;
}

@media(min-width: 768px) {
	.qa-form-container {
		position: relative;
	}
	.qa-form-container:before {
		content: '';
		position: absolute;
		right: 45px;
		bottom: -39px;
		width: 362px;
		height: 370px;
		background: url(../img/i/blob-shape-1.svg) no-repeat 0 0;
	}
	.qa-form-container:after {
		content: '';
		position: absolute;
		right: 90px;
		bottom: -50px;
		width: 283px;
		height: 420px;
		background: url(../img/smiling-girl.png) no-repeat 0 0;
	}
}

.qa-form .form-control {
	background: #CFFBFA;
	border-color: #CFFBFA;
}

.qa-form label {
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	color: #1A1A1A;
	margin: 0 0 3px 10px;
}

.qa-form .form-group {
	margin-bottom: 5px;
}

.qa-form textarea {
	height: 80px;
}

.form-send-wrap {
	display: flex;
	justify-content: flex-end;
	margin-top: 19px;
}

.qa-send-btn {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	width: 166px;
	height: 40px;
}

.site-footer {
	background: #155F65;
	color: #8FE3E5;
	padding: 30px 0;
}

.footer-logo-col {
	display: flex;
	align-items: center;
	margin-right: 45px;
}

.footer-logo-col img {
	margin-right: 10px;
}

.footer-logo-col span {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 1.3;
}

.footer-soc-col {
	display: flex;
	justify-content: center;
	margin-right: 45px;
}

@media(min-width: 768px) {
	.footer-soc-col {
		padding-top: 18px;
	}
}

.footer-soc-col a:not(:last-child) {
	display: flex;
	margin-right: 30px;
}

.footer-text-col {
	font-size: 14px;
	margin-right: 66px;
}

.site-footer-row {
	align-items: flex-start;
}

.site-footer-row .col {
	width: auto;
	flex-basis: inherit;
	flex-grow: 0;
}

.site-footer-row .footer-text-col {
	width: 264px;
}

.footer-title {
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 15px;
}

.footer-contacts-item {
	font-size: 14px;
	display: flex;
}

.footer-contacts-item img {
	margin-right: 7px;
}

.footer-contacts-item:not(:last-child) {
	margin-bottom: 20px;
}

@media(min-width: 1200px) {
	.footer-developer-col {
		margin-left: auto;
	}
}

.footer-developer-col a {
	display: block;
	font-size: 12px;
	color: #8FE3E5;
	line-height: 1.3;
}

.footer-developer-col img {
	display: block;
	margin-bottom: 10px;
}

@media(max-width: 1199px) {
	.footer-logo-col,
	.footer-soc-col,
	.footer-text-col {
		margin-right: 0;
	}
}

@media(min-width:992px) and (max-width: 1199px) {}

@media(max-width: 991px) {}

@media(min-width:768px) and (max-width: 991px) {
	.qa-form {
		position: relative;
		z-index: 1;
	}
	.qa-form-container:before {
		opacity: 0.3;
		right: 50%;
		bottom: -39px;
		transform: translate(50%, 0);
	}
	.qa-form-container:after {
		opacity: 0.3;
		right: 50%;
		bottom: -50px;
		transform: translate(50%, 0);
	}
	.site-footer-row .footer-logo-col,
	.site-footer-row .footer-soc-col {
		width: 25%;
	}
	.site-footer-row .footer-text-col {
		width: 50%;
	}
}

@media(min-width: 576px) and (max-width: 991px) {
	.footer-developer-col {
		align-self: flex-end;
	}
}

@media(max-width: 767px) {
	.site-footer-row {
		align-items: center;
	}
	.qa-form-section .section-title {
		margin-bottom: 15px;
	}
	.site-footer-row .col:not(:last-child) {
		margin-bottom: 15px;
	}
	.qa-form-section,
	.site-footer {
		padding: 20px 0;
	}
	.site-footer-row .footer-text-col {
		width: 100%;
	}
}

@media (min-width:576px) and (max-width: 767px) {
	.site-footer-row .col:nth-last-child(2) {
		margin-bottom: 0;
	}
}

@media (max-width:575px) {
	.site-footer-row .col {
		width: 100%;
		text-align: center;
	}
	.footer-logo-col {
		justify-content: center;
	}
	.footer-soc-col {
		padding-top: 0;
	}
	.footer-contacts-item {
		justify-content: center;
	}
	.footer-developer-col {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}


/*Inners*/

@media(max-width: 991px) {
	.site-header {
		margin-bottom: 25px;
	}
	h1 {
		margin-bottom: 25px;
	}
}

.breadcrumbs {
	font-size: 12px;
	color: #808080;
	margin-bottom: 10px;
}

.breadcrumbs .sep {
	margin: 0 5px;
}

.about-company-pic {
	overflow: hidden;
	border-radius: 10px;
}

@media(max-width: 991px) {
	.about-company-pic {
		display: block;
		margin: 0 auto 20px;
	}
}

.contacts-map-container {
	overflow: hidden;
	border-radius: 10px;
}

.contacts-page-main-box {
	padding-bottom: 32px;
	border-bottom: 1px solid #E8E8E8;
	margin-bottom: 20px;
}

.contacts-page-item {
	color: #808080;
}

.contacts-page-item b {
	font-weight: 500;
	color: #4d4d4d;
}

.contacts-page-item:not(:last-child) {
	margin-bottom: 15px;
}

.contacts-page-subtext {
	font-size: 12px;
	color: #808080;
	line-height: 1.6;
}

.contacts-page-subtext p:last-child {
	margin-bottom: 0;
}

@media(max-width: 991px) {
	.contacts-page-subtext {
		margin-bottom: 30px;
	}
}

@media(max-width: 767px) {
	.contacts-page-subtext {
		margin-bottom: 20px;
	}
	.contacts-page-main-box {
		padding-bottom: 20px;
	}
}

@media(min-width: 992px) {
	.content-margined {
		margin: 0 290px 0 100px;
	}
}

@media(min-width: 992px) and (max-width: 1199px) {
	.content-margined {
		margin-right: 100px;
	}
}

.vacancy-item {
	padding-bottom: 27px;
}

.vacancy-item:not(:last-child) {
	margin-bottom: 26px;
	border-bottom: 1px solid #E8E8E8;
}

.vacancy-title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 7px;
}

.vacancy-meta {
	font-size: 12px;
	color: #808080;
	margin-bottom: 10px;
}

.vacancy-meta span {
	color: #4ba8ac;
}

.vacancy-text p:last-child {
	margin-bottom: 0;
}

@media(max-width:767px) {
	.vacancy-item {
		padding-bottom: 15px;
	}
	.vacancy-item:not(:last-child) {
		margin-bottom: 15px;
	}
}

.materials-item {
	border-bottom: 1px solid #E8E8E8;
}

.materials-item:first-child {
	border-top: 1px solid #E8E8E8;
}

.materials-title-wrap {
	position: relative;
	display: block;
	font-size: 18px;
	padding: 20px 50px 15px 0;
	color: #4d4d4d;
}

.materials-title-wrap:before {
	content: '';
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translate(0, -50%);
	width: 20px;
	height: 12px;
	background: url(../img/i/arrow-down-big.svg) no-repeat 0 0;
}

.materials-title-wrap span {
	display: block;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #C4C4C4;
}

.materials-title-wrap:hover,
.materials-title-wrap:focus {
	text-decoration: none;
	color: #FF5B51;
}

.materials-title-wrap:hover span,
.materials-title-wrap:focus span {
	color: #FF5B51;
}

.materials-content-text {
	padding-bottom: 20px;
}

.materials-content-text p:last-child {
	margin-bottom: 0;
}

@media(max-width: 767px) {
	.materials-title-wrap {
		padding: 12px 40px 7px 0;
	}
	.materials-title-wrap::before {
		right: 10px;
	}
	.materials-content-text {
		padding-bottom: 12px;
	}
}

.cart-total-bar {
	display: flex;
	align-items: center;
	background: #CFFBFA;
	border-radius: 10px;
	padding: 20px;
}

.cart-total-items {
	font-size: 18px;
	margin-right: 50px;
}

.cart-total-items span {
	font-weight: 700;
	margin-right: 15px;
	font-size: 24px;
}

@media(min-width: 1200px) {
	.cart-total-items span {
		vertical-align: -2px;
		display: inline-block;
	}
}

.cart-total-clear {
	display: flex;
	align-items: center;
}

.cart-total-clear img {
	margin-right: 10px;
	vertical-align: -4px;
}

.cart-total-clear a {
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

.cart-total-summ {
	margin-left: auto;
	margin-right: 40px;
	display: flex;
	align-items: center;
}

.cart-summ-text {
	font-size: 18px;
	margin-right: 30px;
}

.cart-summ {
	font-size: 30px;
	line-height: 1.15;
	margin-right: 10px;
	white-space: nowrap;
}

.cart-summ-currency {
	align-self: flex-end;
}

.cart-total-order a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	width: 168px;
	height: 40px;
	background: #FF5B51;
	border-radius: 10px;
}

.cart-total-order a:hover,
.cart-total-order a:focus {
	text-decoration: none;
	background: #FF3B26;
}

.cart-product-bar {
	display: flex;
	margin: 20px 0;
	background: #F8F8F8;
	;
	border-radius: 10px;
	padding: 20px;
}

.cart-product-pic {
	max-width: 140px;
	margin-right: 55px;
}

.cart-product-item-title {
	display: block;
	font-weight: bold;
	font-size: 18px;
	color: #808080;
	margin-bottom: 30px;
}

@media(min-width: 1200px) {
	.cart-product-item-title {
		margin-top: 15px;
	}
}

.cart-product-descr {
	margin-right: 130px;
}

.cart-product-descr-item:not(:last-child) {
	margin-bottom: 10px;
}

.cart-product-descr-item {
	font-size: 14px;
	color: #808080;
}

.cart-product-descr-item b {
	font-weight: 500;
}

.cart-product-descr-item .cart-product-descr-color {
	margin-left: 10px;
}

.cart-product-descr-color {
	display: inline-block;
	vertical-align: top;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}

.cart-product-descr-color.white {
	background: #fff;
	border: 2px solid #E8E8E8;
}

.cart-product-descr-color.pink {
	background: #FFCDCA;
}

.cart-product-quantity {
	margin-right: 50px;
	white-space: nowrap;
}

.cart-product-q-btn {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
	padding: 0;
	border: 0;
	background: transparent;
	transition: box-shadow ease 0.3s;
}

.cart-product-q-btn:hover,
.cart-product-q-btn:focus {
	box-shadow: 0 0 8px #777373;
}

.cart-product-q-btn:active {
	top: 2px;
}

.cart-product-q-counter {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #4d4d4d;
	padding: 0;
	border: 0;
	background: transparent;
	width: 70px;
}

.cart-product-cost {
	font-size: 30px;
	white-space: nowrap;
	padding-right: 15px;
}

.cart-product-cost span {
	font-size: 16px;
}

.cart-product-delete {
	margin-left: auto;
}

.cart-product-delete button {
	position: relative;
	padding: 0;
	border: 0;
	background: transparent;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
	transition: box-shadow ease 0.3s;
}

.cart-product-delete button:hover,
.cart-product-delete button:focus {
	box-shadow: 0 0 8px #777373;
}

.cart-product-delete button:active {
	top: 2px;
}

@media(max-width: 1199px) {
	.cart-total-items span {
		font-size: 16px;
		margin-right: 5px;
	}
	.cart-total-items {
		font-size: 16px;
	}
	.cart-summ {
		font-size: 26px;
	}
	.cart-product-cost {
		font-size: 26px;
	}
	.cart-total-items {
		margin-right: 30px;
	}
	.cart-product-pic {
		margin-right: 20px;
	}
	.cart-product-item-title {
		margin-bottom: 15px;
	}
}

@media(max-width: 991px) {
	.cart-total-bar {
		flex-wrap: wrap;
	}
	.cart-product-bar {
		flex-wrap: wrap;
	}
	.cart-total-summ {
		margin-left: 0;
	}
	.cart-total-order {
		margin-left: auto;
	}
	.cart-summ-text {
		margin-right: 10px;
	}
	.cart-product-pic {
		margin: 0;
		max-width: inherit;
	}
	.cart-product-descr {
		margin-right: 0;
		margin-bottom: 15px;
	}
}

@media(max-width: 767px) {
	.cart-product-descr-item .cart-product-descr-color {
		margin-left: 3px;
	}
}

@media(min-width: 576px) and (max-width: 991px) {
	.cart-total-bar .w-100 {
		margin-bottom: 10px;
	}
	.cart-product-quantity {
		margin-left: auto;
	}
	.cart-product-delete {
		margin-left: 15px;
	}
	.cart-product-pic {
		padding-right: 20px;
		width: 30%;
	}
	.cart-product-descr {
		width: 70%;
	}
}

@media(max-width: 575px) {
	.cart-total-bar,
	.cart-product-bar {
		flex-direction: column;
		align-items: center;
	}
	.cart-total-items,
	.cart-total-clear,
	.cart-total-summ {
		display: block;
		margin: 0 0 15px;
		text-align: center;
	}
	.cart-total-order {
		margin: 0;
	}
	.cart-summ-text {
		font-size: 16px;
		margin-right: 5px;
	}
	.cart-summ {
		margin-right: 0;
		font-size: 22px;
	}
	.cart-product-pic {
		margin-bottom: 10px;
	}
	.cart-product-descr {
		text-align: center;
	}
	.cart-product-quantity {
		margin: 0 0 15px;
	}
	.cart-product-cost {
		padding-right: 0;
		margin-bottom: 10px;
	}
}

.catalog-page-row {
	align-items: flex-start;
}

@media(min-width: 768px) {
	.catalog-sidebar:after {
		content: '';
		position: absolute;
		top: 0;
		right: 15px;
		width: 1px;
		height: 100%;
		background: #E8E8E8;
	}
}

.catalog-sidebar-item:not(:last-child) {
	border-bottom: 1px solid #E8E8E8;
	margin-bottom: 40px;
	padding-bottom: 40px;
}

@media(max-width: 767px) {
	.catalog-sidebar {
		margin-top: 30px;
		order: 1;
	}
	.catalog-sidebar-item:not(:last-child) {
		border-bottom: 1px solid #E8E8E8;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
}

.catalog-sidebar-item-title {
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #4BA8AC;
	margin-bottom: 15px;
}

.catalog-sidebar-list,
.catalog-sidebar-list ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.catalog-sidebar-list>li {
	position: relative;
}

.catalog-sidebar-list>li>a {
	display: block;
	padding: 5px 10px;
	font-weight: 500;
	font-size: 14px;
	color: #4d4d4d;
	padding-right: 60px;
}

.catalog-sidebar-list>li.active>a,
.catalog-sidebar-list>li>a:hover,
.catalog-sidebar-list>li>a:focus {
	background: #F8F8F8;
}

.catalog-sidebar-list ul {
	display: none;
	margin: 0 0 20px 40px;
}

.catalog-sidebar-list>li:last-child ul {
	margin-bottom: 0;
}

.catalog-sidebar-list ul a {
	font-size: 12px;
	color: #808080;
}

.catalog-sidebar-list ul li:not(:last-child) {
	margin-bottom: 7px;
}

.catalog-sidebar-list ul a:hover,
.catalog-sidebar-list ul a:focus {
	color: #FF5B51;
}

.catalog-sidebar-list-toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 30px;
}

.catalog-sidebar-list-toggle img {
	display: none;
}

.catalog-sidebar-list-toggle img:first-child {
	display: block;
}

.catalog-sidebar-list-toggle:hover img:first-child {
	display: none;
}

.catalog-sidebar-list-toggle:hover img:nth-child(2) {
	display: block;
}

.catalog-sidebar-list>li.active>.catalog-sidebar-list-toggle img:first-child,
.catalog-sidebar-list>li.active>.catalog-sidebar-list-toggle img:nth-child(2) {
	display: none;
}

.catalog-sidebar-list>li.active>.catalog-sidebar-list-toggle img:nth-child(3) {
	display: block;
}

.catalog-price-range-slider {
	padding-top: 15px;
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 60px 15px 0;
}

.range-price {
	font-weight: 500;
	font-size: 14px;
	color: #808080;
}

.catalog-price-range-wrap {
	top: 0;
	position: absolute;
	width: 100%;
}

.catalog-price-range-wrap-line {
	position: relative;
	width: 100%;
	background: #E8E8E8;
	height: 2px;
}

.catalog-price-range-wrap-line:before {
	content: '';
	position: absolute;
	left: 0;
	top: -2px;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background: #E8E8E8;
}

.catalog-price-range-wrap-line:after {
	content: '';
	position: absolute;
	right: 0;
	top: -2px;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background: #E8E8E8;
}

.catalog-price-range-point-wrap {
	position: absolute;
	width: 10px;
	height: 10px;
	top: -4px;
	cursor: pointer;
}

.catalog-price-range-point {
	white-space: nowrap;
	position: absolute;
	top: -54px;
	left: 5px;
	transform: translate(-50%, 0);
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	color: #4BA8AC;
	background: #fff;
	border: 1px solid #E8E8E8;
	border-radius: 5px;
	padding: 5px 15px;
	box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
}

.catalog-price-range-point:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background: #fff;
	bottom: -5px;
	left: 50%;
	transform: translate(-50%, 0) rotate(45deg);
	box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.25);
}

.catalog-price-range-point:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 8px;
	background: #fff;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.catalog-price-range-point-wrap button {
	position: absolute;
	left: 0;
	width: 10px;
	height: 10px;
	background: #4BA8AC;
	border-radius: 100%;
	padding: 0;
	border: 0;
}

.catalog-sidebar-check input {
	display: none;
}

.catalog-sidebar-check label {
	cursor: pointer;
	position: relative;
	font-weight: 500;
	font-size: 14px;
	color: #4D4D4D;
}

.catalog-sidebar-check label:hover {
	color: #1a1a1a;
}

.catalog-sidebar-check label:hover:before {
	border-color: #807979;
}

.catalog-sidebar-check label:before {
	content: '';
	display: inline-block;
	width: 14px;
	height: 14px;
	border: 1px solid #CCCCCC;
	border-radius: 100%;
	vertical-align: -2px;
	margin-right: 8px;
}

.catalog-sidebar-check label:after {
	opacity: 0;
	content: '';
	position: absolute;
	top: 6px;
	left: 3px;
	width: 8px;
	height: 8px;
	background: #4BA8AC;
	border-radius: 100%;
	transition: opacity ease 0.3s;
}

.catalog-sidebar-check input:checked+label:after {
	opacity: 1;
}

.main-catalog-row {
	margin-bottom: 40px;
}

.catalog-top-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.catalog-top-filters {
	display: flex;
}

.catalog-top-filter-btn {
	border: 0;
	background: #F8F8F8;
	font-weight: 500;
	font-size: 14px;
	height: 30px;
	padding: 0 25px;
}

@media(max-width: 767px) {
	.catalog-top-filter-btn {
		padding: 0 15px;
	}
}

.catalog-top-filter-btn:first-child {
	border-radius: 10px 0 0 10px;
}

.catalog-top-filter-btn:last-child {
	border-radius: 0 10px 10px 0;
}

.catalog-top-filter-btn.active {
	background: #CFFBFA;
	color: #155F65;
}

.catalog-top-filter-btn:hover {
	color: #389DA2;
}

.catalog-top-grid-btns {
	display: flex;
	align-items: center;
}

.catalog-top-grid-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	padding: 0;
	border: 0;
	background: #F8F8F8;
	border-radius: 5px;
}

.catalog-top-grid-btn:not(:last-child) {
	margin-right: 20px;
}

.catalog-top-grid-btn img {
	display: none;
	width: 26px;
}

.catalog-top-grid-btn img:first-child {
	display: block;
}

.catalog-top-grid-btn:hover img:first-child,
.catalog-top-grid-btn.active img:first-child {
	display: none;
}

.catalog-top-grid-btn:hover img:nth-child(2),
.catalog-top-grid-btn.active img:nth-child(2) {
	display: block;
}

@media(max-width: 767px) {
	.catalog-top-bar {
		flex-direction: column;
		margin-bottom: 30px;
	}
}

.catalog-item-col {
	margin-bottom: 50px;
}

@media(min-width: 992px) {
	.catalog-item-col:last-child,
	.catalog-item-col:nth-last-child(2),
	.catalog-item-col:nth-last-child(3) {
		margin-bottom: 0;
	}
}

@media(max-width: 1199px) {
	.catalog-item-col {
		margin-bottom: 30px;
	}
}

@media(min-width: 768px) and (max-width: 991px) {
	.catalog-item-col:last-child,
	.catalog-item-col:nth-last-child(2) {
		margin-bottom: 0;
	}
}

@media(max-width: 767px) {
	.catalog-item-col:last-child {
		margin-bottom: 0;
	}
}

.catalog-item-pic-wrap {
	margin-bottom: 20px;
}

.catalog-item-pic-wrap a {
	display: block;
	overflow: hidden;
	border-radius: 10px;
	transition: opacity 0.3s ease;
}

@media(max-width: 767px) {
	.catalog-item-pic-wrap {
		text-align: center;
	}
	.catalog-item-pic-wrap a {
		display: inline-block;
	}
}

.catalog-item-pic-wrap a:hover,
.catalog-item-pic-wrap a:focus {
	opacity: 0.65;
}

.catalog-item-title {
	display: block;
	font-size: 16px;
	color: #808080;
	margin-bottom: 15px;
}

@media(max-width: 767px) {
	.catalog-item-title {
		text-align: center;
	}
}

.catalog-item-bottom-wrapp {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.catalog-item-price span {
	white-space: nowrap;
	font-size: 30px;
	margin-right: 7px;
}

@media(max-width: 767px) {
	.catalog-item-bottom-wrapp {
		justify-content: center;
	}
	.catalog-item-price {
		margin: 0 15px;
	}
}

@media(max-width: 1199px) {
	.catalog-item-title {
		margin-bottom: 10px;
	}
	.catalog-item-price span {
		font-size: 22px;
	}
}

.catalog-item-add-to-cart {
	white-space: nowrap;
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	color: #FF5B51;
	border: 0;
	padding: 0;
	background: transparent;
}

.catalog-item-add-to-cart img {
	margin-right: 8px;
}

.catalog-item-add-to-cart:hover,
.catalog-item-add-to-cart:focus {
	text-decoration: underline;
	color: #4D4D4D;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
}

.pagination a:not(:last-child),
.pagination span:not(:last-child) {
	margin-right: 30px;
}

.pagination a {
	color: #808080;
}

.pagination a:hover,
.pagination a:focus {
	color: #FF5B51;
}

.pagination span {
	color: #FF5B51;
}

.pagination .prev {
	color: #FF5B51;
	width: 16px;
	height: 16px;
	background: url(../img/i/arrow-back.svg) no-repeat 50%;
	transition: opacity ease 0.3s;
}

.pagination .next {
	color: #FF5B51;
	width: 16px;
	height: 16px;
	background: url(../img/i/arrow-forward.svg) no-repeat 50%;
	transition: opacity ease 0.3s;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .prev:focus {
	opacity: 0.65;
}

.product-full-slider {
	display: flex;
	height: 580px;
}

.product-full-slider-big {
	min-width: 438px;
	margin-right: 10px;
}

@media(min-width: 992px) and (max-width: 1199px) {
	.product-full-slider {
		height: 460px;
	}
	.product-full-slider-big {
		min-width: 350px;
	}
	.product-full-descr-col {
		padding-left: 40px;
	}
}

.product-full-slider-big img {
	border-radius: 10px;
}

.product-full-slider-thumbs {
	height: 100%;
	overflow: auto;
	padding-right: 20px;
}

.product-full-slider-thumbs a {
	position: relative;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 10px;
	overflow: hidden;
}

.product-full-slider-thumbs a.active:before,
.product-full-slider-thumbs a:hover:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.35);
}

.product-full-slider-thumbs a.active:after,
.product-full-slider-thumbs a:hover:after {
	content: '';
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	border: 2px solid #fff;
	border-radius: 6px;
}

.product-full-slider-thumbs a:not(:last-child) {
	margin-bottom: 10px;
}

.product-full-descr {
	margin-bottom: 30px;
}

.product-full-descr p:last-child {
	margin-bottom: 0;
}

.product-full-chars {
	margin-bottom: 40px;
}

.product-full-chars-item {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.product-full-chars-item:not(:last-child) {
	margin-bottom: 10px;
}

.product-full-chars-name {
	font-weight: bold;
	font-size: 18px;
	width: 82px;
}

.product-full-chars-select {
	position: relative;
}

.product-full-chars-select-active {
	width: 180px;
	font-size: 14px;
	text-transform: uppercase;
	color: #808080;
	padding: 10px 15px;
	cursor: pointer;
}

.product-full-chars-select-active:before {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	width: 12px;
	height: 12px;
	background: url(../img/i/arrow-down.svg) no-repeat 0 0;
}

.product-full-chars-select-active:after {
	display: none;
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	width: 12px;
	height: 12px;
	background: url(../img/i/arrow-down-active.svg) no-repeat 0 0;
}

.product-full-chars-select-active:hover:before,
.product-full-chars-select-active:focus:before {
	display: none;
}

.product-full-chars-select-active:hover:after,
.product-full-chars-select-active:focus:after {
	display: block;
}

.product-full-chars-select-options {
	display: none;
	position: absolute;
	border: 1px solid #eee;
	background: #fff;
	width: 100%;
	z-index: 9;
}

.product-full-chars-select-options div {
	padding: 8px 15px;
	cursor: pointer;
	text-align: center;
}

.product-full-chars-select-options div:not(:last-child) {
	border-bottom: 1px solid #eee;
}

.product-full-chars-select-options div:hover {
	background: #FF5B51;
	color: #fff;
}

.product-full-chars-more {
	font-size: 12px;
	color: #008EC7;
	margin-left: 30px;
}

.product-full-chars-item-colors .product-full-chars-name {
	align-self: flex-start;
	margin-top: 2px;
}

.product-full-chars-color {
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	cursor: pointer;
	margin-bottom: 10px;
}

.product-full-chars-color:hover {
	opacity: 0.65;
}

.product-full-chars-color:before {
	content: '';
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 42px;
	height: 42px;
	border-radius: 100%;
	border: 2px solid #ccc;
}

.product-full-chars-color:not(:last-child) {
	margin-right: 15px;
}

.product-full-chars-color.white {
	background: #fff;
	border: 2px solid #E8E8E8;
}

.product-full-chars-color.light-green {
	background: #8FE3E5;
}

.product-full-chars-color.violet {
	background: #BAA4D7;
}

.product-full-chars-color.light-pink {
	background: #FFCDCA;
}

.product-full-quantity-price-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background: #CFFBFA;
	border-radius: 10px;
	padding: 10px 15px;
	margin-bottom: 30px;
}

.product-full-chars-color.active:before {
	display: block;
}

.product-full-quantity {
	white-space: nowrap;
}

.product-full-price {
	white-space: nowrap;
	margin-right: 25px;
}

.product-full-price span {
	font-size: 30px;
}

.product-full-add-to-cart-wrap {
	display: flex;
	justify-content: flex-end;
	padding-right: 40px;
}

.product-full-add-to-cart {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	width: 120px;
	height: 40px;
	background: #FF5B51;
	border-radius: 10px;
	transition: background 0.3s ease;
}

.product-full-add-to-cart:hover,
.product-full-add-to-cart:focus {
	color: #fff;
	text-decoration: none;
	background: #FF3B26;
}

.product-full-extended-chars-container {
	margin-top: 65px;
}

.product-full-extended-chars-container h2 {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	margin-bottom: 40px;
}

.product-full-extended-chars-container p:last-child {
	margin-bottom: 0;
}

@media(max-width: 1199px) {
	.product-full-price {
		margin-right: 0;
	}
}

@media(max-width: 991px) {
	.product-full-descr-col {
		display: flex;
		flex-direction: column;
	}
	.product-full-slider {
		flex-direction: column;
		height: auto;
	}
	.product-full-slider-big {
		margin: 0 0 10px;
	}
	.product-full-slider-thumbs {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		overflow: visible;
		margin: 0 -5px;
	}
	.product-full-descr {
		margin-bottom: 15px;
	}
	.product-full-extended-chars-container {
		margin-top: 30px;
	}
	.product-full-slider .product-full-slider-thumbs a {
		margin: 0 5px 5px;
	}
	.product-full-chars-name {
		width: auto;
	}
	.product-full-chars-select-active {
		width: auto;
		padding-right: 20px;
	}
	.product-full-chars-select-options {
		width: auto;
		min-width: 100px;
	}
	.product-full-quantity-price-box {
		display: inline-flex;
		flex-direction: column;
		margin-left: auto;
	}
	.product-full-price span {
		font-size: 25px;
	}
	.product-full-quantity {
		margin-bottom: 10px;
	}
	.product-full-add-to-cart-wrap {
		padding-right: 0;
	}
}

@media(min-width: 768px) and (max-width: 991px) {
	.product-full-slider-big {
		min-width: 330px;
	}
	.product-full-slider-thumbs a {
		width: 75px;
		height: 75px;
	}
}

@media(max-width: 767px) {
	.product-full-slider-big {
		min-width: auto;
		text-align: center;
	}
	.product-full-slider-thumbs a {
		width: 64px;
		height: 64px;
	}
	.product-full-slider-thumbs {
		margin-bottom: 10px;
	}
	.product-full-extended-chars-container h2 {
		margin-bottom: 15px;
	}
}

@media(min-width: 576px) and (max-width: 991px) {
	.product-full-chars-color:first-of-type {
		margin-left: 15px;
	}
}

@media(max-width: 575px) {
	.product-full-chars-name {
		font-size: 16px;
		margin-right: 10px;
	}
	.product-full-chars-more {
		margin: 0;
	}
	.product-full-quantity-price-box {
		margin-left: 0;
	}
	.product-full-chars-select-active {
		padding-left: 0;
	}
	.product-full-chars-select {
		margin-right: 15px;
	}
}