/*ResetBootstrap*/
html {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #555;
  background: #f3f3f3;
  height: 100%;
}

@media (min-width: 1690px) {
  .container {
    max-width: 1660px;
  }
}

a:focus,
button:focus,
input:focus {
  outline: 0;
}

/*Header*/
@media (min-width: 768px) {
  .site-header-row {
    height: 60px;
  }
}

@media (min-width: 768px) {
  .header-nav-col {
    padding-top: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1689px) {
  .header-nav-col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 0;
  }
}

.header-nav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.header-nav > ul {
  display: flex;
}

@media (max-width: 767px) {
  .header-nav > ul {
    flex-direction: column;
    padding-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-nav > ul > li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .header-nav > ul > li:not(:last-child) {
    margin-right: 50px;
  }
}

.header-nav > ul a {
  font-weight: 700;
  color: #00ADB4;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-nav > ul a {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .header-nav > ul a {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .header-nav > ul a {
    display: block;
    padding: 10px 0;
  }
  .header-nav > ul a:hover, .header-nav > ul a:focus {
    text-decoration: none;
  }
  .header-nav > ul a:active {
    color: #FE6606;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .header-nav > ul a:hover, .header-nav > ul a:focus {
    color: #FE6606;
    text-decoration: none;
  }
}

.pictured-bg .header-nav a {
  color: #fff;
}

.header-icons-col {
  display: flex;
  flex-direction: column;
}

.header-icons-col a {
  margin-right: 50px;
  transition: opacity 0.3s ease;
}

.header-icons-col a:hover, .header-icons-col a:focus {
  opacity: 0.6;
}

.pictured-bg .juice-white-col-wrap {
  background: transparent;
}

.header-icons-col .juice-white-col-wrap {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  height: 100%;
}

@media (max-width: 991px) {
  .header-icons-col .juice-white-col-wrap {
    background: transparent;
  }
}

@media (max-width: 575px) {
  .mobile-header {
    height: 50px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .mobile-header {
    height: 60px;
  }
}

@media (max-width: 767px) {
  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .mobile-header-i {
    transition: opacity 0.3s ease;
  }
  .mobile-header-i:active {
    opacity: 0.6;
  }
}

@media (max-width: 575px) {
  .mobile-header-i img {
    height: 23px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .mobile-header-i img {
    height: 30px;
  }
}

.mobile-menu-toggler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: transparent;
  border: 1px solid transparent;
  padding: 0;
}

.mobile-menu-toggler span {
  height: 2px;
  width: 32px;
  background: #4d4d4d;
}

.mobile-menu-toggler span:not(:last-child) {
  margin-bottom: 6px;
}

.mobile-menu-toggler:active {
  border-color: #00ADB4;
}

.mobile-menu-toggler:active span {
  background: #00ADB4;
}

.pictured-bg .mobile-menu-toggler span {
  background: #fff;
}

.pictured-bg .mobile-menu-toggler:active {
  border-color: rgba(255, 255, 255, 0.85);
}

.pictured-bg .mobile-menu-toggler:active span {
  background: rgba(255, 255, 255, 0.85);
}

@media (max-width: 575px) {
  .mobile-logo {
    width: 65px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .mobile-logo {
    width: 80px;
  }
}

/*content*/
img {
  max-width: 100%;
}

.juice-white-col-wrap {
  background: #fff;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.site-content {
  flex-grow: 1;
}

.site-content-row {
  height: 100%;
}

.juice-thumb-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .juice-thumb-col {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .juice-thumb-col {
    padding: 15px;
  }
}

@media (min-width: 768px) {
  .juice-thumb-col {
    padding: 30px 60px;
  }
}

.juice-thumb-col img {
  position: relative;
  max-height: 100%;
}

.juice-thumbs {
  position: relative;
}

.juice-thumbs:before {
  content: '';
  background: #fff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) and (max-width: 991px) {
  .juice-thumbs:before {
    width: 565px;
    height: 565px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .juice-thumbs:before {
    width: 415px;
    height: 415px;
  }
}

@media (min-width: 1200px) and (max-width: 1689px) {
  .juice-thumbs:before {
    width: 515px;
    height: 515px;
  }
}

@media (min-width: 1690px) {
  .juice-thumbs:before {
    width: 615px;
    height: 615px;
  }
}

@media (max-width: 991px) {
  .juice-descr-col {
    padding-bottom: 15px;
  }
}

.juice-descr-col .juice-white-col-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

@media (min-width: 1690px) {
  .juice-descr-container {
    padding: 30px 138px;
  }
}

@media (min-width: 768px) and (max-width: 1689px) {
  .juice-descr-container {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .juice-descr-container {
    padding: 15px;
  }
}

.juice-descr-title {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .juice-descr-title {
    font-size: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .juice-descr-title {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .juice-descr-title {
    font-size: 50px;
  }
}

.juice-descr-subtitle {
  text-transform: uppercase;
  color: #00ADB4;
}

@media (max-width: 767px) {
  .juice-descr-subtitle {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .juice-descr-subtitle {
    font-size: 22px;
    margin-bottom: 5px;
  }
}

@media (min-width: 1200px) {
  .juice-descr-subtitle {
    font-size: 26px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1199px) {
  .juice-description {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .juice-description {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.juice-description p:last-child {
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .juice-descr-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .juice-descr-item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.juice-descr-item-title {
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .juice-descr-item-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media (max-width: 1199px) {
  .juice-descr-item-title {
    font-size: 18px;
  }
  .juice-descr-item-title + .juice-descr-taste-item {
    margin-top: 5px;
  }
}

.juice-descr-taste-item {
  font-size: 18px;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .juice-descr-taste-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (min-width: 992px) {
  .juice-descr-taste-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.juice-taste-color {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

@media (max-width: 1199px) {
  .juice-taste-color {
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  .juice-taste-color {
    margin-right: 20px;
  }
}

.juice-taste-color.dark-green {
  background: #558B0D;
}

.juice-taste-color.light-green {
  background: #CDEC7A;
}

.juice-taste-color.red {
  background: #DD1A0A;
}

.juice-taste-color.dark-red {
  background: #B13B17;
}

.juice-taste-color.violet {
  background: #6B49CA;
}

.juice-taste-color.yellow {
  background: #FFDD55;
}

.juice-taste-color.light-brown {
  background: #FFA325;
}

@media (min-width: 1200px) {
  .juice-descr-item-content {
    font-size: 18px;
  }
}

.juice-descr-item-content p:last-child {
  margin-bottom: 0;
}

.size-descr-item {
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .size-descr-item .juice-descr-item-title {
    margin: 0 5px 0 0;
  }
}

@media (min-width: 992px) {
  .size-descr-item .juice-descr-item-title {
    margin: 0 20px 0 0;
  }
}

.juice-size-wrap {
  position: relative;
  font-size: 20px;
}

.juice-size-current {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}

@media (max-width: 991px) {
  .juice-size-current {
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  .juice-size-current {
    padding-right: 30px;
  }
}

.juice-size-current:before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 15px;
  height: 8px;
  background: url(../img/i/shevron-down.svg) no-repeat 0 0;
  background-size: contain;
}

.juice-size-current:hover {
  color: #00ADB4;
}

.juice-size-options {
  display: none;
  position: absolute;
  z-index: 1;
  background: #fff;
  border: 1px solid #00ADB4;
}

.juice-size-options a {
  font-size: 20px;
  display: block;
  padding: 10px 15px;
  color: #555;
  transition: all 0.3s ease;
}

.juice-size-options a:hover, .juice-size-options a:focus {
  color: #fff;
  text-decoration: none;
  background: #00ADB4;
}

.juice-facts-title {
  display: inline-block;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding-right: 30px;
  transition: color 0.3s ease;
}

@media (min-width: 1200px) {
  .juice-facts-title {
    font-size: 20px;
  }
}

@media (max-width: 1199px) {
  .juice-facts-title {
    font-size: 18px;
  }
}

.juice-facts-title:hover {
  color: #00ADB4;
}

.juice-facts-title span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 14px;
  height: 14px;
}

.juice-facts-title span:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url(../img/i/plus.svg) no-repeat 0 0;
  background-size: contain;
  transition: transform 0.3s ease;
}

.juice-facts-title[aria-expanded="true"] span:before {
  transform-origin: 50%;
  transform: rotate(45deg);
}

.juice-facts-wrap {
  padding-top: 10px;
}

@media (min-width: 1200px) {
  .juice-facts-wrap {
    font-size: 18px;
  }
}

.juice-facts-wrap p:last-child {
  margin-bottom: 0;
}

.pictured-bg {
  background: url(../img/tropic-bg.jpg) no-repeat 50% fixed;
}

.juice-pictured-text-col {
  display: flex;
  align-items: center;
  padding: 15px;
}

@media (min-width: 1200px) and (max-width: 1689px) {
  .juice-pictured-text-col {
    margin-left: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
  }
}

.white-wrapped-text {
  background: rgba(255, 255, 255, 0.8);
}

@media (min-width: 992px) {
  .white-wrapped-text {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .white-wrapped-text {
    padding: 15px;
  }
}

@media (min-width: 576px) {
  .white-wrapped-text {
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .white-wrapped-text {
    border-radius: 15px;
  }
}

@media (min-width: 768px) {
  .white-wrapped-text {
    border-radius: 50px;
  }
}

.white-wrapped-text p:last-child {
  margin-bottom: 0;
}

.white-wrapped-text h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .white-wrapped-text h1 {
    font-size: 26px;
  }
}

@media (min-width: 1200px) {
  .white-wrapped-text h1 {
    font-size: 50px;
  }
}

/*# sourceMappingURL=maps/main.css.map */
